@model Model.AlumnoCurso
@{ 
    List<Model.Curso> cursos = ViewBag.Cursos;
    List<Model.AlumnoCurso> cursosElegidos = ViewBag.CursosElegidos;
}

@if (cursos.Count > 0)
{

    using (Html.BeginForm("GuardarCurso", "Home", FormMethod.Post, new { id = "frm-curso" }))
    {
        @Html.HiddenFor(x => x.Alumno_id)
        <div class="form-group">
            <label>Seleccione un curso</label>
            <select class="form-control" name="Curso_id">
                @foreach (var c in cursos)
                {
                    <option value="@c.id">@c.Nombre</option>
                }
            </select>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Nota)
            @Html.TextBoxFor(x => x.Nota, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Nota, null, new { @class = "label label-danger" })
        </div>

        <div class="text-right">
            <button data-ajax="true" data-confirm="¿Esta seguro de asignar este curso al alumno?" type="submit" class="btn btn-primary">Guardar</button>
        </div>
    }
    <hr />

}

<!-- CURSOS ELEGIDOS -->
<ul class="list-group">
    @foreach (var ce in cursosElegidos)
    {
       <li class="list-group-item">
           @ce.Curso.Nombre
           <div class="pull-right" style="margin-left: 0.5%;">
               <button onclick="eliminarAlumnoCurso($(this));"
                       class="btn btn-xs btn-danger"
                       data-url='@Url.Content("~/Home/EliminarAlumnoCurso/" + @ce.id)'
                       data-confirm="¿Desea eliminar este registro?">
                   Eliminar
               </button>
           </div>
           <span class="badge pull-right">@ce.Nota</span>
       </li>
    }
</ul>

<script>
    $(document).ready(function () {
        //Como es una vista parcial, el document ready del layout no aplica validación sobre el dado a que se carga luego del evento
        //Para activar la validación en esta vista es necesario agregarsela acá
        $.validator.unobtrusive.parse("#frm-curso");
    });

    function eliminarAlumnoCurso(idElement) {

        if (confirm(idElement.attr('data-confirm'))) {

            $.ajax({
                dataType: 'JSON',
                type: 'POST',
                url: idElement.attr('data-url'),
                success: function (r) {
                    if (r.response) {
                        if (r.message != null) {
                            alert(r.message);
                        }

                    } else {
                        alert(r.message);
                    }

                    //Ejecutar funcion
                    if (r.function != null) {
                        setTimeout(r.function, 0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus + " " + errorThrown);
                }
            })

            return false; //Cancelar postback

        }

    }
</script>